# Ignore backups
*~

# Ignore MacOS files
.DS_Store

# Ignore example files
example/*.vtk
example/*.pop
example/*.fits*
example/*.ds
example/lime_*.x
example/*.dat
example/archive
example/*.txt

# Ignore html doc files
doc/_html

src/archive
Makefile.defs
*.pyc

